.tableHomework{
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}

.tableHomework ,th,td {
    border: 2px solid blue;
    border-collapse: collapse;
}
.tableHomework td,th {
    padding: 10px;
}
.tableHomework th {
    padding-left: 10px;
}
.section_table h3{
    text-align: center;
}    
