table {
  margin: auto;
  width: 700px;
  border: 2px solid #a3a3a3;
  border-radius: 10px;
  border-spacing: 0px;
  text-align: center;
}
table thead th {
  border-bottom: 1px solid red;
}
table td,
table th {
  padding: 10px;
}
table tbody tr:is(.even) {
  background-color: #cac8c8;
  cursor: pointer;
}

table tbody tr:is(.odd) {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
table tbody tr:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}
